@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
body{
	background-color: #380000;
	color: white;
	font-family: 'Eagle Lake', cursive;
}
input{
	background-color: #800202;
	color: white;
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
}
#btnBuscar:hover {
	background-color: #380000;
}
#mapa{
	height: 50vh;
	border-radius: 10px;
}